<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://104.131.168.21:3306/Sa33er?zeroDateTimeBehavior;autoReconnect=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">madodabado</property>
    
   <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
   
    <mapping resource="model/StoreProduct.hbm.xml"/>
    <mapping resource="model/Comment.hbm.xml"/>
    <mapping resource="model/Permission.hbm.xml"/>
    <mapping resource="model/SubCategory.hbm.xml"/>
    <mapping resource="model/User.hbm.xml"/>
    <mapping resource="model/Product.hbm.xml"/>
    <mapping resource="model/Store.hbm.xml"/>
    <mapping resource="model/UserPermission.hbm.xml"/>
    <mapping resource="model/Category.hbm.xml"/>
    <mapping resource="model/Review.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
